<component name="ArtifactManager">
  <artifact build-on-make="true" name="spring-integration:jar">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_integration_jar</output-path>
    <root id="root">
      <element id="archive" name="spring-integration.jar">
        <element id="directory" name="META-INF">
          <element id="file-copy" path="$PROJECT_DIR$/META-INF/MANIFEST.MF" />
        </element>
        <element id="module-output" name="spring-integration" />
      </element>
      <element id="library" level="project" name="Maven: cglib:cglib:3.2.4" />
      <element id="library" level="project" name="Maven: org.apache.ant:ant:1.9.6" />
      <element id="library" level="project" name="Maven: org.yaml:snakeyaml:1.17" />
      <element id="library" level="project" name="Maven: org.ow2.asm:asm:5.1" />
      <element id="library" level="project" name="Maven: mysql:mysql-connector-java:5.1.38" />
      <element id="library" level="project" name="Maven: org.apache.ant:ant-launcher:1.9.6" />
    </root>
  </artifact>
</component>